<div class="row clearfix">
  <div class="flex-shrink-1 flex-grow-1 flex-nowrap col-xxl-2 col-xl-3 col-lg-4 col-md-5" id="sidebar">
    <ul>
      <li [ngClass]="{'active' : what=='unread' && how=='paged' && feed==null}">
        <a (click)="what='unread';how='paged';feed=null;">
          <span [ngStyle]="{ 'color' : unread ? 'red' : 'black' }">
            <b>Unread {{ unread ? '(' + unread + ')' : '' }}</b>
          </span>
        </a>

        <a class="float-end button" (click)="refreshList();"><i-bs name="arrow-clockwise"></i-bs></a>
      </li>

      <li [ngClass]="{'active' : what=='star' && how=='paged'}">
        <a (click)="what='star';how='paged';feed=null;">
          Starred {{ starred ? '(' + starred + ')' : '' }}
        </a>
      </li>
    </ul>

    <div id="tags">
      <table id="taglist" class="table table-striped table-sm">
        <thead>
          <tr class="heading">
            <th>
              <span class="unread">#</span>
            </th>
            <th class="title">
              tag name
            </th>
            <th class="controls">
              untag
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tagsjson" [ngClass]="{'active' : (what && what.includes(row['tag_name']) && feed==null)}">
            <td class="td-unread">
              <ng-template [ngIf]="row['unread'] > 0">
                <a class="button unread" (click)="what=row['tag_name'] + ' unread';how='paged';feed=null;">{{ row['unread'] }}</a> /
              </ng-template>

              <a class="button" href="javascript:void(0);" (click)="what=row['tag_name'];how='paged';feed=null;">{{ row['count'] }}</a>
            </td>
            <td class="title">
              <b>
                <a (click)="what=row['tag_name'];how='paged';feed=null;">{{ row['tag_name'] }}</a>
              </b>
            </td>
            <td class="controls">
              <a title="untag all items" (click)="del_tag(row['tag_name']);">[x]</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="feeds" class="d-none d-md-block">
      <table class="table table-striped table-sm">
        <thead>
          <tr class="heading">
            <th *ngFor="let column of columns" class="{{ column_class[column] }}">
              <span class="nowrap">
                <a (click)="direction=(column == order ? (direction == 'asc' ? 'desc' : 'asc') : 'desc');order=column;" title="{{ title[column] }}" [innerHTML]="name[column] + (column == order ? (direction == 'asc' ? '&darr;' : '&uarr;') : '')">
                </a>
              </span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="sidebar !== undefined">
          <tr *ngFor="let row of Object.keys(sidebar)" class="feed" [ngClass]="{'active' : (feed==sidebar[row]['feed_id'])}">
            <td class="updated"><span title="{{ sidebar[row]['agestr'] }}" id="{{ sidebar[row]['feed_id'] }}-agestr">{{ sidebar[row]['agestrabbr'] }}</span></td>
            <td class="latest"><span title="{{ sidebar[row]['lateststr'] }}" id="{{ sidebar[row]['feed_id'] }}-lateststr">{{ sidebar[row]['lateststrabbr'] }}</span></td>
            <td class="nowrap text-nowrap" id="{{ sidebar[row]['feed_id'] }}-items">
              <ng-template [ngIf]="sidebar[row]['feed_unread'] > 0"><a class="button unread" (click)="feed=sidebar[row]['feed_id'];what=null;how='paged';" title="new items">{{ sidebar[row]['feed_unread'] }}</a> / </ng-template>
              <a class="button" (click)="feed=sidebar[row]['feed_id'];what='all';how='paged';" title="all items, {{ sidebar[row]['feed_starred'] }} starred, {{ sidebar[row]['feed_tagged'] }} tagged">{{ sidebar[row]['feed_items'] }}</a>
            </td>
            <td class="source">
              <a target="_blank" rel="noopener noreferrer" href="{{ sidebar[row]['feed_url'] }}">
                <ng-template let-image [ngIf]="((sidebar[row]['display_image'] == null || sidebar[row]['display_image'].length == 0) ? (sidebar[row]['feed_image'] == null || sidebar[row]['feed_image'].length == 0 ? fof_asset['feed_icon'] : sidebar[row]['feed_image']) : sidebar[row]['display_image'])">
                <img class="feed-icon"
                     src="https://feed.newsbox.ro/{{ image }}"
                     title="{{ sidebar[row]['feed_cache_last_attempt_status'] == null || sidebar[row]['feed_cache_last_attempt_status'].length == 0 ? '' : 'Last update attempt was not successful.' }}"
                     alt="{{ sidebar[row]['feed_cache_last_attempt_status'] }}"
                />
                </ng-template>
              </a>
            </td>
            <td class="title">
              <a rel="noopener noreferrer" href="{{ sidebar[row]['feed_link'] == '[no link]' ? sidebar[row]['feed_url'] : sidebar[row]['feed_link'] }}" title="home page" target="_blank">
                <b>{{ sidebar[row]['display_title'].length == 0 ? sidebar[row]['feed_title'] : sidebar[row]['display_title'] }}</b>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex-shrink-1 flex-grow-1 flex-nowrap col-xxl-10 col-xl-9 col-lg-8 col-md-7">
    <app-rss-items (starEvent)="refreshList();" (readEvent)="refreshList();" [feed]="feed" [what]="what" [when]="when" [which]="which" [howmany]="howmany" [(how)]="how" [order]="order" [search]="search"></app-rss-items>

    <p>Angular Version: {{ angularVersion }}</p>
  </div>
</div>
