
<div>
  {{ display_summary }} &nbsp;
</div>
<app-notify-text [showText]="this.itemcount"></app-notify-text>
  <br>

<nav *ngIf="navlinks.length; else elseBlock">
  <ul class="pagination justify-content-center">
    <li class="page-link invisible">&nbsp;</li>
    <li *ngFor="let nav of navlinks" class="page-item">
      <a (click)="which=nav.which;how=nav.how;howChange.emit(how);" class="page-link" [innerHTML]="nav.title"></a>
    </li>
  </ul>
</nav>
<ng-template #elseBlock><div style="height: 38px; margin-bottom: 1rem;">&nbsp;</div></ng-template>


<div *ngFor="let row of items">
  <div class="item" id="i{{ row['item_id'] }}">
    <div class="card">
      <div class="card-header bg-gray">
        <div class="float-start hstack gap-2 col-xxl-11 col-xl-10 col-9">
          <button *ngIf="row['tags'].includes('unread');" type="button" [disabled]="ajaxIsRunning" class="align-self-stretch btn btn-secondary btn-sm text-nowrap d-none d-md-block" (click)="markRead(row['item_id']);">mark read</button>
          <br style="clear: left;">
          <div>
            <div *ngIf="(row['tags'].indexOf('star') != -1); then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <a (click)="toggleFav(row['item_id'], true)">
              <i-bs name="star-fill" class="text-warning"></i-bs>
              </a>
            </ng-template>
            <ng-template #elseBlock>
              <a (click)="toggleFav(row['item_id'], false)">
              <i-bs name="star" class="text-warning"></i-bs>
              </a>
            </ng-template>
          &nbsp;
          <a [href]="row['item_link'] | htmlspecialcharsdecode" target="_blank" rel="noopener noreferrer" [ngClass]="{ 'unread-item' : row['tags'].includes('unread') }" class="item-title">{{ row['item_title'] }}</a>
          <br>
          <h2>
            <ng-template let-image [ngIf]="((row['display_image'] == null || row['display_image'].length == 0) ? (row['feed_image'] == null || row['feed_image'].length == 0 ? fof_asset['feed_icon'] : row['feed_image']) : row['display_image'])">
              <img class="feed-icon"
                   alt="feed icon"
                   src="https://feed.newsbox.ro/{{ image }}"
              />
            </ng-template>
            &nbsp;
            <a target="_blank" rel="noopener noreferrer" href="{{ row['feed_link'] }}" title="{{ row['feed_description'] | htmlspecialchars }}">{{ row['display_title'] }}</a>
            &nbsp;
          </h2>
          <span class="meta published">on {{ row['item_published'] + (2*60*60) | gmdate: 'Y-n-d G:i' }}</span>
          </div>
        </div>
        <div class="col-xxl-1 col-xl-2 col-3 float-end text-end">
          <button *ngIf="row['tags'].includes('unread');" type="button" [disabled]="ajaxIsRunning" class="btn btn-secondary btn-sm text-nowrap" (click)="markRead(row['item_id']);">mark read</button>
          <br>
          <ng-template ngFor let-tag [ngForOf]="row['tags']">
            <span *ngIf="!['unread','star','folded'].includes(tag);">
              {{ tag }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="card-body body" [innerHTML]="row['item_content'] | nl2br | linktarget">

      </div>
      <div class="card-footer">
        <button *ngIf="row['tags'].includes('unread');" type="button" [disabled]="ajaxIsRunning" class="btn btn-secondary btn-sm text-nowrap" (click)="markRead(row['item_id']);">mark read</button>
      </div>
    </div>
  </div>
</div>
