/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.feed-icon {
  width: 16px;
  height: 16px;
  border: 0;
}

* {
  cursor: default;
}

a, a * {
  cursor: pointer;
}

#sidebar table {
  font-size: .7em;
  border-collapse: collapse;
}

#sidebar .heading {
  background: #ccc;
  border-bottom: 1px solid gray;
}

#tags .td-unread, #feeds .unread {
  text-align: right;
}

.unread {
  font-weight: bold !important;
  color: red !important;
}

#sidebar .controls {
  text-align: right;
}

#sidebar a {
  text-decoration: none;
  color: black;
}

a.button {
  padding: 1px 0.5em;
  border: 0.1px solid black;
  border-radius: 5px;

  line-height: 100%;
}

a.button.unread {
  border-color: red !important;
}

#sidebar ul {
  font-size: .8em;
  padding-left: 0em;
  list-style: none;
  margin: 1ex 0px;
}

#sidebar li.active,
#tags tr.active,
#feeds tr.active {
  background: #ccc;
  border: 1px #999;
}

.item .item-title {
  font-size: 110%;
  font-family: arial, sans-serif;
}

h2 {
  font-size: 100%;
  margin: 0px;
  margin-bottom: 5px;
  font-weight: normal;
  display: inline;
}

.meta {
  font-size: 80%;
  display: inline;
  font-family: verdana, sans-serif;
}

.item {
  margin: 0 0 1ex;
  clear: both;
  overflow: hidden;
}

.item a {
  text-decoration: none;
}

.item .body {
  max-height: 45em;
  min-height: 10em;
  overflow: auto;
  font-family: verdana, sans-serif;
}

.unread-item {
  font-weight: bold;
}

.bg-gray {
  background-color: #eee !important;
}
